* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(144, 192, 242);
  /* background: linear-gradient(90deg, rgba(144,192,242,1) 99%, rgba(2,0,36,1) 100%);; */
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}



.wrap {
  width: 60%;
  margin: auto;
  background: rgba(2, 6, 10, 0.2);
  border-radius: 15px;
  margin-top: 50px;
  padding-block: 70px;
  /* padding-inline: 50px; */
  

  
}

#welcome {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 15px;
  padding-block: 50px;
  padding-inline: 50px;
  text-align: center;
}

#welcome a{
  width: 100%;
  background-color: rgb(144, 192, 242);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

section > #welcome a {
  color: #fff;
  background-color: rgb(144, 192, 242);
  text-decoration: none;
}

@media (max-width: 768px) {
  .wrap {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

 #welcome {
  width: 80%;
  padding: 40px;
 }







}